{% if modules %}
<aside id="column-left" class="col-sm-3 hidden-xs"> 
	{% for module in modules %}
    {{ module }}
    {% endfor %} 
	<div class="bg-left product-hot">
		<h4>Sản phẩm hot</h4>
		
	</div>
</aside>
{% endif %} 